<!DOCTYPE html>
<html>
<head>
    <title>Sigma</title>
</head>
<body>
    <div style="text-align: center; font-family: sans-serif; border-radius: 10px; color: red; background-color: black; padding-bottom: 40px; padding-top: 30px;">
        <h2>Be Discipline, sigma</h2>
        <p>12 steps to become a sigma male (the lone wolf)</p>
        <p> 1. Even though you’re alone, value other people in your life ...
            2. Be in touch with your own power ...
            3.Be a silent leader ...
            4. Know how to adapt to new situations ...
            5. Treat everyone the same way ...
            6. Be yourself, even without a social circle ...
            7. Understand the importance of silence ...
            8. Take risks in your life ...
        </p>
    </div>
    <div style="text-align: center; color: steelblue; background-color: silver; text-decoration: none; font-family: sans-serif; border-radius: 10px; margin-top: 40px;">
        {% extends 'base.html' %}
        {% block content %}    
    </div>
    {% endblock content %}
</body>
</html>