<!DOCTYPE html>
<html>
<head>
    <title>File site</title>
</head>
<body>
    <div style="text-align: center; font-family: sans-serif; color: teal; background-color: gold; border-radius: 10px;">
        <h2>Welcome</h2>
        <p>Have a stronger discipline</p>
    </div>
    <div style="text-align: center; color: steelblue; background-color: silver; text-decoration: none; font-family: sans-serif; border-radius: 10px; margin-top: 40px;">
        {% extends 'base.html' %}
        {% block content %}    
    </div>
    {% endblock content %}
    
</body>
</html>